<h2>Home</h2>
<pre> <code>
    MWA clinic, Iowa's oldest county hospital, was dedicated September 17, 1912, and opened October 2, 1912. A bond issue of twenty-five thousand dollars was voted to build the 3-story, 25-bed hospital. This was only the second time in the history of the world that rural people voted a tax on themselves to build a hospital. Private donations furnished and equipped it.

    Our hospital established a nurse's education program in 1912, graduating a total of 63 nurses, and remained active until 1932. In 1917, the physicians and nurses formed Unit R, a Red Cross volunteer group, which was attached to the U.S. Army and served in France during World War I under the leadership of Dr. Clark.
    
    Various building projects were completed in 1949, 1963, 1970 and 1993. The only portion that remains of the original 1912 structure is the basement.
    
    MWA Clinic became a critical access hospital in November 2004.
    
    MWA Clinic moved into a new state-of-the-art 25 bed hospital in April of 2009. The medical campus includes the physician practices of the Doug Johnson Dialysis Center.
    
    Due to continued growth and community need a new addition opened in 2013 which is home to an expanded MWA Clinic Clinics, American Eyecare, NuCara Pharmacy and Southeast Iowa Neurological Associates.
    
    Our hospital continues its tradition of superior commitment and exceptional care and is among the top-rated hospitals nationwide for patient satisfaction.
</code> </pre>