<h2>About us</h2>

<pre><code>
    NEW STATE-OF-THE-ART FACILITY
We moved into our new state-of-the-art Health Center in April of 2009. Our name changed from Jefferson County Hospital to the Jefferson County Health Center (MWA Clinic) to better reflect our commitment of exceptional health care services in one convenient location for the people of Jefferson County.

Our commitment to you is that we will provide our community with a state-of-the-art facility for our patients, staff, and medical providers.

We Provide easy access for your local medical needs by incorporating the following practices on our campus:

MWA Clinic Clinics
MWA Clinic Professional Clinic
MWA Clinic Walk-In Clinic
Southeastern Renal Dialysis
NuCara Pharmacy
Numerous visiting specialists
The new Jefferson County Health Center facility is one of the leading hospitals in Iowa promoting green features through planning, design and construction, to reduce waste and promote maximum efficiency, flexibility and sustainability for greater patient safety, dignity and wellness. The hospital and clinics incorporated innovative sustainable design features as outlined in the Green Guide for Health Care™.
</code></pre>