<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Full name : {{record.patientInfo.fullname}}</p>
    <p>Address : {{record.patientInfo.address}}</p>
    <p>Date of Birth : {{record.patientInfo.dob}}</p>
    <p>Email : {{record.patientInfo.email}}</p>
    <p>Gender : {{record.patientInfo.gen}}</p>
    <p>Doctor assigned :
        <span>Doctor Name: {{record.patientInfo.doctor.doctorName}}</span> <br>
        <span>Doctor email: {{record.patientInfo.doctor.doctorEmail}}</span>
    </p>
    <h3>Visits</h3>

    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Visit reason</th>
            </tr>
            <tr *ngFor="let visit of visits">
                <td>{{visit}}</td>
                <td>{{visit}}</td>
            </tr>
        </table>
        <button (click)="addVisit()">Add Visit</button>

    </div>
</body>
</html>
