<h2>Patient Record</h2>
<br><br>
<p>Full name : {{record.patientInfo.fullname}}</p>
<p>Address : {{record.patientInfo.address}}</p>
<p>Date of Birth : {{record.patientInfo.dob}}</p>
<p>Email : {{record.patientInfo.email}}</p>
<p>Gender : {{record.patientInfo.gen}}</p>
<p>Doctor assigned :
    <span>Doctor Name: {{record.patientInfo.doctor.doctorName}}</span> <br>
    <span>Doctor email: {{record.patientInfo.doctor.doctorEmail}}</span>
</p>
<h3>Visits</h3>

<div>
    <table>
        <tr>
            <th>Date</th>
            <th>Visit reason</th>
            <th></th>
        </tr>
        <tr *ngFor="let visit of visits">
            <td>{{visit.date}}</td>
            <td>{{visit.reason}}</td>
            <td><button (click)="patientVisit(visit._id)">Open Visit</button></td>
        </tr>
    </table>
    <button (click)="addVisit()">Add Visit</button>

</div>